<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Bungee" rel="stylesheet">
    <link href="../../webb/static/CSS/pintrest_style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script>
    loadDoc();
</script>
<main>
    <div>
        <p id = "demo">

        </p>
    </div>
    <div class="main-wrapper">
        <div class="single-col-wrapper" id = "a_1">
            <div class="col-card">
                <div class="card-header">
                    <h2 class="card-title">Card Title1</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
                <div class="card-footer">
                    <div class="card-avatar">
                        <img src="../../webb/static/IMG/profile_mohsen.jpg" alt="Picture">
                    </div>
                    <form class="card-footer-form">
                        <label>
                            <input class="card-comment">
                        </label>
                        <button class="card-button">send</button>
                    </form>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header one">
                    <h2 class="card-title">Card Title2</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet. </p>
                </div>
                <div class="card-footer">
                    <div class="card-avatar">
                        <img src="../../webb/static/IMG/profile_mohsen.jpg" alt="Picture">
                    </div>
                    <form class="card-footer-form">
                        <label>
                            <input class="card-comment">
                        </label>
                        <button class="card-button">send</button>
                    </form>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header two">
                    <h2 class="card-title">Card Title3</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
                <div class="card-footer">
                    <div class="card-avatar">
                        <img src="../../webb/static/IMG/profile_mohsen.jpg" alt="Picture">
                    </div>
                    <form class="card-footer-form">
                        <label>
                            <input class="card-comment">
                        </label>
                        <button class="card-button">send</button>
                    </form>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header three 4">
                    <h2 class="card-title">Card Title5</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
        </div>
        <div class="single-col-wrapper" id = "a_2">
            <div class="col-card">
                <div class="card-header four 5">
                    <h2 class="card-title">Card Title6</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. .</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header five 6">
                    <h2 class="card-title">Card Title7</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header six 7">
                    <h2 class="card-title">Card Title8</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header seven 8">
                    <h2 class="card-title">Card Title9</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
        </div>
        <div class="single-col-wrapper" id = "a_3">
            <div class="col-card">
                <div class="card-header">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header one">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet. </p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header two">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
        </div>
        <div class="single-col-wrapper" id = "a_4">
            <div class="col-card">
                <div class="card-header four">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. .</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header five">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
            <div class="col-card">
                <div class="card-header six">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Proin non quam tellus. Donec a leo sit amet lacus vestibulum aliquet.
                        Suspendisse rhoncus tempor massa a condimentum. Cras eget enim tortor.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="../../webb/static/JS/blog.js"></script>

</body>